div class="fpc-currently-inked-actions"
  = link_to "Add entry", new_currently_inked_path, class: "btn btn-primary"
  = link_to "Archive", currently_inked_archive_index_path, class: "btn btn-secondary"
  = link_to "Usage records", usage_records_path, class: "btn btn-secondary"