@use "sass:map";
@use "~bootstrap/scss/bootstrap" as b;

.fpc-title {
  font-size: map.get(b.$display-font-sizes, 4);
  text-align: center;

  @include b.media-breakpoint-up("sm") {
    line-height: b.$line-height-lg;
  }
}

.fpc-subtitle {
  text-align: center;
  font-size: b.$h3-font-size;
  line-height: b.$line-height-lg;
  color: var(--fpc-muted-text-color);
}
