{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["prettier", "react", "react-hooks"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "react/prop-types": "off",
    "prettier/prettier": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error"
  },
  "overrides": [
    {
      "files": ["app/assets/javascripts/**/*.js"],
      "globals": {
        "$": true,
        "Cookies": true,
        "clicky": true
      }
    },
    {
      "files": ["*.spec.js", "*.spec.jsx"],
      "env": {
        "browser": true,
        "es6": true,
        "jest": true,
        "node": true
      }
    },
    {
      "files": ["*.config.js"],
      "env": {
        "node": true
      }
    }
  ]
}
