#posts {
  .post {
    width: 100%;
    overflow-x: auto;
  }

  .notification_stats {
    font-size: small;
  }

  img {
    width: 100%;
    margin: 10px;
  }

  .multi {
    img {
      width: 50%;
      float: left;
    }

    &::after {
      clear: both;
    }
  }
}
