- content_for :title, "Usage records leaderboard"

ol class="fpc-leaderboard"
  - LeaderBoard.usage_records.each do |user_data|
    = render partial: "leaderboard_row", locals: { user_data: user_data }
