#micro-clusters-app {
  .loader {
    font-size: 100px;
    text-align: center;
  }
  .app {
    display: flex;
    .main {
      margin-left: auto;
      margin-right: auto;
    }
    tr.header th {
      text-align: center;
    }
    td {
      vertical-align: middle;
    }
    .nav {
      &:hover {
        background-color: #ccc;
      }
      font-size: 50px;
      margin: -15px -10px;
      padding-left: 5px;
      padding-right: 5px;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .macro-cluster-collected-inks {
      font-size: 10px;
    }
  }
}
