div class="fpc-collected-pens-actions mb-3"
      = link_to "Add pen", new_collected_pen_path, class: "btn btn-primary"
      = link_to "Archive", collected_pens_archive_index_path, class: "btn btn-outline-secondary"