- content_for :title, "Import pens"

p
  'Importing all your pens by hand is hard. Wouldn't it be nice if you could just upload a spreadsheet
  'with all of your pens and have them "magically" 🧙🏻‍♀️ appear here? Unfortunately these types of imports
  'are super brittle and a lot can go wrong. So someone needs to look over it before that can happen.
  'Unfortunately, as this site is run by volunteers (well, just
  a href="/users/1" me
  ') this is not a service that we can offer to everyone as much as we would like to.
  b
    'However, as a
    a href="https://www.patreon.com/bePatron?u=6900241" Patron
    '&nbsp;we will import your list of pens (and inks) for you!
p
  'The minimal requirements are that you include the brand and model. All other fields are optional
  'but can be imported as well. Once you have your list (and are a Patron) send the spreadsheet(s) to
  a href="mailto:hello@fountainpencompanion.com" hello@fountainpencompanion.com
  '&nbsp;and we will import them for you. Adding additional inks at a later stage is of course also
  'possible.
