@use "./fpc";
@use "./admin/micro-clusters";
@use "./admin/macro-clusters";
@use "./admin/graphs";
@use "./admin/blog";
@use "./admin/reviews";
@use "./admin/clusters";

#users-table {
  tr.patron {
    color: #7fffd4;
    font-weight: bold;
  }
}

.pagination {
  .page {
    padding-top: 0;
  }
}
