@import "vesper";

@import "header";
@import "admin/micro-clusters";
@import "admin/macro-clusters";
@import "admin/graphs";
@import "admin/blog";

.section {
  padding-bottom: 20px;
}

#users-table {
  tr.patron {
    color: #7fffd4;
    font-weight: bold;
  }
}
