@use "~bootstrap/scss/bootstrap" as b with (
  // This is the default, but here is how to override theme colors.
  // See https://getbootstrap.com/docs/5.2/customize/color/#theme-colors
  // For a list of themable colors.
  $primary: rgb(13, 110, 253)
);
@use "~react-table-6/react-table";

// @use "./vesper";

@use "./fpc";

@use "./account";
@use "./blog";
@use "./brands";
@use "./collected_inks";
@use "./collected_pens";
@use "./currently_inked";
@use "./dashboards";
@use "./form";
@use "./friends";
@use "./header";
@use "./home";
@use "./ink-collection";
@use "./leaderboard";
@use "./reviews";
@use "./usage-records";
@use "./users";

.fpc {
  --fpc-text-color: #{b.$gray-900};
  --fpc-muted-text-color: #{b.$gray-700};
  --fpc-background: #{b.$gray-100};
  --fpc-bright-background: #{b.$white};

  background: var(--fpc-background-color);
  color: var(--fpc-text-color);

  font-family: b.$font-family-base;
  font-size: b.$font-size-base;
  line-height: b.$line-height-base;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @media (prefers-color-scheme: dark) {
    & {
      --fpc-text-color: #{b.$gray-100};
      --fpc-muted-text-color: #{b.$gray-300};
      --fpc-background-color: #{b.$gray-900};
      --fpc-bright-background: #{b.$black};
    }
  }
}

.fpc-main {
  padding: 10px;
  padding-top: 20px;
}

.fpc-content {
  margin-bottom: b.$spacer;
}

.fpc-patron-tiny {
  width: 15px;
  margin-left: 5px;
  margin-top: -3px;
}

.fpc-table {
  overflow-x: auto;

  &--full-width {
    width: 100%;
  }
}

.fpc-hint {
  margin-bottom: 40px;
  max-width: 80ch;

  p:last-child {
    margin-bottom: 0;
  }
}

@media (prefers-color-scheme: dark) {
  $_table-dark-border-color: rgba(255, 255, 255, 0.1);
  $_table-dark-border: solid 1px $_table-dark-border-color;

  .ReactTable {
    border: $_table-dark-border;

    .-pagination .-btn {
      color: var(--fpc-text-color);
    }

    .rt-thead,
    .rt-tfoot,
    .rt-tbody {
      .rt-tr-group {
        border-bottom: $_table-dark-border;
      }
    }

    .rt-th:not(:last-child),
    .rt-td:not(:last-child) {
      border-right: $_table-dark-border;
    }
  }

  .table {
    --bs-table-color: var(--fpc-text-color);
    --bs-table-striped-color: var(--fpc-text-color);
    --bs-table-striped-bg: var(--fpc-bright-background);
  }

  a {
    --bs-link-color: #{b.$blue-400};
    --bs-link-hover-color: #{b.$blue-500};
  }
  .alert a {
    --bs-link-color: #{b.$blue-500};
    --bs-link-hover-color: #{b.$blue-600};
  }
}
