@use "~bootstrap/scss/bootstrap" as b with (
  // This is the default, but here is how to override theme colors.
  // See https://getbootstrap.com/docs/5.2/customize/color/#theme-colors
  // For a list of themable colors.
  $primary: rgb(13, 110, 253)
);
@use "~react-table-6/react-table";

// @use "./vesper";

@use "./fpc";

@use "./account";
@use "./collected_inks";
@use "./header";
@use "./home";
@use "./ink-collection";
@use "./leaderboard";
@use "./collected_pens";
@use "./currently_inked";
@use "./usage-records";
@use "./dashboards";
@use "./friends";
@use "./brands";
@use "./blog";
@use "./form";
@use "./users";

.fpc {
  --fpc-text-color: #{b.$gray-900};
  --fpc-muted-text-color: #{b.$gray-700};
  --fpc-background: #{b.$gray-100};
  --fpc-bright-background: #{b.$white};

  background: var(--fpc-background-color);
  color: var(--fpc-text-color);

  font-family: b.$font-family-base;
  font-size: b.$font-size-base;
  line-height: b.$line-height-base;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @media (prefers-color-scheme: dark) {
    & {
      --fpc-text-color: #{b.$gray-100};
      --fpc-muted-text-color: #{b.$gray-300};
      --fpc-background-color: #{b.$gray-900};
      --fpc-bright-background: #{b.$black};
    }
  }
}

.fpc-main {
  padding: 10px;
  padding-top: 20px;
}

.fpc-content {
  margin-bottom: b.$spacer;
}

.fpc-patron-tiny {
  width: 15px;
  margin-left: 5px;
  margin-top: -3px;
}

.fpc-table {
  &--full-width {
    width: 100%;
  }
}

.fpc-hint {
  background-color: #ddd;
  padding: 3px 6px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 15px;
  p:last-child {
    margin-bottom: 0;
  }
}
