.fpc-blog-post {
  margin-bottom: 40px;

  &__published-at {
    font-style: italic;
    font-size: small;
  }

  &__fundraiser {
    margin-top: 20px;
  }

  img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
