.fpc-blog-post {
  margin-bottom: 40px;
  overflow-x: auto;
  width: 100%;

  &__published-at {
    font-style: italic;
    font-size: small;
  }

  &__fundraiser {
    margin-top: 20px;
  }

  img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .multi {
    img {
      width: 50%;
      float: left;
    }

    &::after {
      clear: both;
    }
  }

  &.partial {
    max-height: 500px;
    overflow: hidden;
    --fade-start: 80%;
    mask-image: linear-gradient(to bottom, white var(--fade-start), transparent);
  }
}
