.row.details {
  box-shadow: none !important;
}

.color-tile {
  width: 37px;
  height: 37px;
  float: left;
}

.macro-clusters .table {
  td,
  th {
    vertical-align: middle;
  }
}

.error-reporting,
.reviews {
  margin-top: 30px;
}

.reviews {
  .review {
    &.row {
      box-shadow: none !important;
    }
    img {
      max-width: 100%;
    }
    a {
      font-weight: bold;
    }
  }
}
