@use "~bootstrap/scss/bootstrap" as b;

#collected-inks {
  .loader {
    text-align: center;
    i {
      font-size: 200px !important;
    }
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;

    @include b.media-breakpoint-up("sm") {
      flex-direction: row;
    }
  }
  .export {
    text-align: right;
    margin-bottom: 10px;

    @include b.media-breakpoint-up("sm") {
      float: right;
    }

    .btn {
      margin-left: 10px;
    }
  }
  .row {
    box-shadow: none;
  }
  .table {
    i {
      font-size: 18px;
      margin: 0;
      &.fa-check {
        color: green;
      }
      &.fa-times {
        color: red;
      }
    }
    th {
      white-space: nowrap;
      &[role="columnheader"] {
        &:hover {
          background-color: #ddd;
        }
      }
    }
    td,
    th {
      vertical-align: middle !important;
    }
    tfoot {
      font-weight: bold;
      .counter {
        white-space: nowrap;
      }
    }
  }
}

form.edit_collected_ink,
form.new_collected_ink {
  .row {
    box-shadow: none !important;
  }
  input[type="submit"] {
    margin-right: 15px;
  }
  .boolean .form-text {
    margin-top: -10px;
  }
  .form-text {
    font-size: smaller;
    line-height: 15px;
  }
}

.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.pick-kind {
  display: flex;
  gap: 5px;
}

ul.tags {
  display: inline;
  list-style: none;
  padding: 0px;
  li.tag {
    display: inline;
    &::after {
      content: ", ";
    }
    &:last-child::after {
      content: "";
    }
  }
}
