@use "~bootstrap/scss/bootstrap" as b;

form.edit_collected_pen,
form.new_collected_pen {
  input[type="submit"] {
    margin-right: 15px;
  }
  .boolean .form-text {
    margin-top: -10px;
  }
  .form-text {
    font-size: smaller;
    line-height: 15px;
  }
}
