@use "~bootstrap/scss/bootstrap" as b;

// Tom Select theme customizations for dark/light mode
.ts-wrapper.single .ts-control,
.ts-dropdown {
  background-color: var(--bs-body-bg);
  border-color: var(--bs-border-color);
  color: var(--fpc-text-color);
}

.ts-dropdown .option.active {
  background-color: var(--bs-primary);
  color: #fff;
}

.ts-control input,
.ts-control input::placeholder {
  color: var(--fpc-text-color);
}

.fpc-currently-inked-table {
  td {
    vertical-align: middle;
  }
  .inked_on {
    white-space: nowrap;
  }
  .links {
    text-align: left;
    .btn {
      margin-bottom: 7px;
    }
    nav {
      font-size: 24px;
      .page {
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
}

#currently-inked-archive {
  @media (min-width: 992px) {
    .swabs {
      display: none;
    }
  }
  @media (max-width: 991px) {
    .table {
      display: none;
    }
  }
  .export {
    text-align: right;
    margin-bottom: 10px;

    @include b.media-breakpoint-up("sm") {
      float: right;
    }
  }

  .swabs {
    .stats {
      text-align: center;
    }
    .links {
      text-align: center;
      .btn {
        width: 100%;
        margin-bottom: 7px;
      }
      nav {
        font-size: 24px;
        .page {
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }
    .entry {
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 5px;
      margin-top: 15px;
      margin-bottom: 15px;
      .swab {
        margin-inline: auto;
        height: 180px;
        width: 180px;
        position: relative;

        &::before {
          content: " ";
          position: absolute;
          top: 1px;
          left: 1px;
          right: 1px;
          bottom: 1px;
          background-color: var(--swab-color);
          -webkit-mask: url(../images/swab.svg);
          mask: url(../images/swab.svg);
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
        }
      }
      .actions {
        margin-bottom: 3px;
        text-align: right;
        .btn {
          margin: 2px;
        }
        i {
          font-size: 24px;
          margin: 0;
        }
      }
    }
  }
}

form.edit_currently_inked,
form.new_currently_inked {
  .row {
    box-shadow: none !important;
  }
  input[type="submit"] {
    margin-right: 15px;
  }

  // Tom Select height adjustments to match other form fields
  $_form-field-height: 38px;

  .ts-control {
    min-height: $_form-field-height;
  }
}
