.fpc-currently-inked-table {
  td {
    vertical-align: middle;
  }
  .inked_on {
    white-space: nowrap;
  }
  .actions {
    white-space: nowrap;
    text-align: right;
  }
  i {
    font-size: 18px;
    margin: 0;
  }
  .links {
    text-align: center;
    .btn {
      width: 100%;
      margin-bottom: 7px;
    }
    nav {
      font-size: 24px;
      .page {
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }

  @media (max-width: 991px) {
    display: none;
  }
}

#currently-inked,
#currently-inked-archive {
  @media (min-width: 992px) {
    .swabs {
      display: none;
    }
  }
  @media (max-width: 991px) {
    .table {
      display: none;
    }
  }
  .export {
    text-align: right;
    margin-bottom: 20px;
  }

  .swabs {
    .stats {
      text-align: center;
    }
    .links {
      text-align: center;
      .btn {
        width: 100%;
        margin-bottom: 7px;
      }
      nav {
        font-size: 24px;
        .page {
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }
    .entry {
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 5px;
      margin-top: 15px;
      margin-bottom: 15px;
      img {
        width: 50%;
        float: left;
      }
      .actions {
        margin-bottom: 3px;
        text-align: center;
        .btn {
          margin: 2px;
        }
        i {
          font-size: 24px;
          margin: 0;
        }
      }
    }
  }
}

form.edit_currently_inked,
form.new_currently_inked {
  .row {
    box-shadow: none !important;
  }
  input[type="submit"] {
    margin-right: 15px;
  }

  $_form-field-height: 38px;

  .select2-selection,
  .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    height: $_form-field-height;
  }

  .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    line-height: $_form-field-height;
  }
}
