@use "~bootstrap/scss/bootstrap" as b;

.fpc-dashboard {
  display: grid;
  gap: b.$spacer;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-template-rows: masonry;
}

.fpc-dashboard-widget {
  background: var(--fpc-bright-background);

  &--with-links {
    position: relative;
    padding-bottom: 48px;
  }

  &__links {
    position: absolute;
    bottom: b.$spacer;
    left: b.$spacer;
  }

  &__loader {
    text-align: center;
    margin-top: 20px;
    i {
      font-size: 50px !important;
    }
  }
}

.fpc-inks-visualization {
  display: flex;
  flex-direction: column;
}
