@use "~bootstrap/scss/bootstrap" as b;

.fpc-header,
.fpc-footer {
  background: b.$black;
  border-color: b.$black;
  border-radius: 0px;
  font-size: 14px;

  .collapse.in,
  .collapsing {
    img {
      display: none;
    }
  }

  .navbar-right img {
    margin-top: 6px;
    height: 36px;
    width: 36px;
    border-radius: 2px;
  }
}

.fpc-footer {
  margin-top: auto;
  margin-bottom: 0px;
}
