.edit_macro_cluster {
  .btn {
    margin-right: 10px;
  }
}

.ink-description {
  margin-bottom: 20px;
  .meta-data {
    font-size: smaller;
    margin-bottom: 20px;
  }
}

.diff {
  .diff-content {
    white-space: pre-wrap;
    margin-bottom: 20px;
    width: 100%;
    del {
      background-color: rgb(255, 235, 233);
    }
    ins {
      background-color: rgb(230, 255, 236);
    }
  }

  .timestamp {
    font-size: smaller;
  }

  .user {
    font-size: smaller;
  }
}
