.leaderboard {
  .hint {
    background-color: #ddd;
    padding: 3px 6px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  text-align: center;
  ol {
    list-style-position: inside;
    margin: auto;
    padding: 0;
  }
}
