.pen-and-ink-suggestion {
  .buttons,
  .loader,
  .notice {
    text-align: center;
  }

  .loader {
    font-size: xxx-large;
  }

  .filter,
  .notice {
    font-size: small;
    margin-bottom: -15px;
    margin-top: 15px;
  }

  .buttons .btn {
    margin-right: 20px;
  }

  .extra-instructions {
    textarea {
      border: 1px solid #999999;
      border-radius: 5px;
      width: 100%;
      margin: 5px 0;
      padding: 3px 1%;
    }
  }
}
