// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
$grid-float-breakpoint: 1200px;
@import "bootstrap";

@import "font-awesome";
@import "vesper";

@import "header";
@import "admin/micro-clusters";
@import "admin/macro-clusters";
@import "admin/graphs";

.section {
  padding-bottom: 20px;
}

#users-table {
  tr.patron {
    color: #7fffd4;
    font-weight: bold;
  }
}

#posts {
  .notification_stats {
    font-size: small;
  }

  figure img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
