// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
$grid-float-breakpoint: 1200px;
@import "bootstrap";

@import "font-awesome";
@import "vesper";

@import "header";
@import "admin/micro-clusters";
@import "admin/macro-clusters";

.section {
  padding-bottom: 20px;
}

#users-table {
  tr.patron {
    color: #7fffd4;
    font-weight: bold;
  }
}
