// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
$grid-float-breakpoint: 1200px;
@import "bootstrap";

@import "font-awesome";

@import "jquery-ui/core";
@import "jquery-ui/theme";
@import "jquery-ui/autocomplete";
@import "jquery-ui/menu";
@import "jquery-ui/datepicker";

@import "select2";

@import "vesper";

@import "account";
@import "collected_inks";
@import "header";
@import "home";
@import "ink-collection";
@import "leaderboard";
@import "public-inks";
@import "collected_pens";
@import "currently_inked";
@import "usage-records";
@import "dashboards";
@import "friends";
@import "brands";
@import "blog";

@import "react-table-6/react-table";

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#admin {
  #wrap {
    margin-top: 70px;
  }
}
#footer {
  margin-top: auto;
}

.patron-tiny {
  width: 15px;
  margin-left: 5px;
  margin-top: -3px;
}

.table-wrapper {
  width: 100%;
}

.user_bot_field {
  display: none;
}
