#collected-inks {
  .loader {
    text-align: center;
    i {
      font-size: 200px !important;
    }
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .add-button {
    position: fixed;
    bottom: 15px;
    right: 15px;
    font-size: 36px;
    text-decoration: none;
    border: 2px solid #2e6da4;
    border-radius: 5px;
    color: #fff;
    background-color: #337ab7;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 9px;
    background-image: image-url("bg-btn.png") !important;
    background-repeat: repeat;
    z-index: 1000;
    &:hover {
      background-color: #286090;
      border-color: #204d74;
    }
  }
  .buttons {
    .btn {
      width: 100%;
    }
    .search {
      input {
        width: 100%;
        border-radius: 4px;
        border-width: 1px;
        padding-left: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
      }
      padding-top: 3px;
    }
  }
  .export {
    text-align: right;
    margin-bottom: 20px;
    .btn {
      margin-left: 10px;
    }
  }
  .row {
    box-shadow: none;
  }
  .table {
    .actions {
      white-space: nowrap;
      text-align: right;
    }
    i {
      font-size: 18px;
      margin: 0;
      &.fa-check {
        color: green;
      }
      &.fa-times {
        color: red;
      }
    }
    th {
      white-space: nowrap;
      &[role="columnheader"] {
        &:hover {
          background-color: #ddd;
        }
      }
    }
    td,
    th {
      vertical-align: middle !important;
    }
    tfoot {
      font-weight: bold;
      .counter {
        white-space: nowrap;
      }
    }
  }
}

form.edit_collected_ink,
form.new_collected_ink {
  .row {
    box-shadow: none !important;
  }
  input[type="submit"] {
    margin-right: 15px;
  }
  .boolean .help-block {
    margin-top: -10px;
  }
  .help-block {
    font-size: smaller;
    line-height: 15px;
  }
}

.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
