#collected-pen-form {
  td {
    vertical-align: middle;
  }

  td.form {
    vertical-align: top;
  }

  i {
    font-size: 18px;
    margin: 0;
  }
}

#collected-pens-archive {
  h1 {
    text-align: center;
  }
}

.pen-collection {
  .actions {
    white-space: nowrap;
  }
}
