#collected-inks {
  .export {
    float: right;
    margin-bottom: 20px;
  }
}

#collected-inks-archive {
  h1 {
    text-align: center;
  }
}

#collected-ink-form {
  td.form {
    vertical-align: top;
  }
}
