#collected-inks-beta {
  .export {
    text-align: right;
    margin-bottom: 20px;
  }
  .row {
    box-shadow: none;
  }
  .table {
    .actions {
      white-space: nowrap;
      text-align: right;
    }
    i {
      font-size: 18px;
      margin: 0;
      &.fa-check {
        color: green;
      }
      &.fa-times {
        color: red;
      }
    }
    td {
      vertical-align: middle !important;
    }
  }
}

form.edit_collected_ink {
  .row {
    box-shadow: none !important;
  }
  input[type=submit] {
    margin-right: 15px;
  }
}

#collected-inks-app {
  .export {
    float: right;
    margin-bottom: 20px;
  }
  h1 {
    text-align: center;
  }
  .editable {
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    &:hover {
      border: 1px dotted grey;
      padding: 4px;
    }
  }
  td .form-group {
    margin-bottom: -8px;
    .help-block {
      font-size: 10px;
      margin-bottom: 0px;
      margin-top: 0px;
    }
  }
}

.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
