#currently-inked {
  .export {
    text-align: right;
    margin-bottom: 20px;
  }
}

#currently-inked, #currently-inked-archive {
  .actions {
    white-space: nowrap;
    text-align: right;
  }
  i {
    font-size: 18px;
    margin: 0;
  }
}

#currently-inked-beta {
  @media (min-width: 992px) {
    .swabs {
      display: none;
    }
  }
  @media (max-width: 991px) {
    .table {
      display: none;
    }
  }
  .export {
    text-align: right;
    margin-bottom: 20px;
  }
  .table {
    .actions {
      white-space: nowrap;
      text-align: right;
    }
    i {
      font-size: 18px;
      margin: 0;
    }
  }
  .swabs {
    .links {
      text-align: center;
      .btn {
        width: 100%;
        margin-bottom: 7px;
      }
    }
    .entry {
      border: 1px solid #ccc;
      border-radius: 10px;
      padding-left: 5px;
      padding-right: 5px;
      margin-top: 15px;
      img {
        width: 50%;
        float: left;
      }
      .actions {
        text-align: center;
        .btn {
          margin: 5px;
        }
        i {
          font-size: 24px;
          margin: 0;
        }
      }
    }
    .row {
      box-shadow: none;
    }
  }
}

form.edit_currently_inked, form.new_currently_inked {
  .row {
    box-shadow: none !important;
  }
  input[type=submit] {
    margin-right: 15px;
  }
  .select2-container {
    margin-top: 3px;
    margin-bottom: 3px;
  }
}
