// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#dashboard {
  .row {
    box-shadow: none;
    .widget {
      margin-top: 15px;
      padding: 5px;
      text-align: center;
      box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
      border-radius: 5px;
      min-height: 200px;
    }
  }
}
