html, body {
  height: 100%;
}

#wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 48px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  p {
    margin: 15px 0;
    color: #999;
    a:hover {
      color: #fff;
    }
  }
  background: #222 image-url("bg-header.png") repeat-x !important;
  height: 48px;
  filter:none !important;
  font-family: Droid Serif, Georgia;
  font-size: 14px;
  a {
    color: #999;
  }
  a:hover {
    color: #fff;
  }
}
