#header {
  background: #222 url(bg-header.png) repeat-x !important;
  height: 48px;
  filter:none !important;
  font-family: Droid Serif, Georgia;
  font-size: 14px;
  a {
    color: #999;
  }
  a:hover {
    color: #fff;
  }
}
