#header {
  background: black;
  filter:none !important;
  font-family: Droid Serif, Georgia;
  font-size: 14px;
  a {
    color: #999;
  }
  a:hover {
    color: #fff;
  }
  .collapse.in, .collapsing {
    img {
      display: none;
    }
  }
  .navbar-right img {
    margin-top: 6px;
    height: 36px;
    width: 36px;
    border-radius: 2px;
  }
}
