.ink-collection {
  td {
    vertical-align: middle !important;
  }
  td.new-entry {
    vertical-align: top !important;
  }

  tr.private {
    opacity: 0.7;
  }
  i {
    font-size: 18px;
    margin: 0;
  }
  .filters {
    margin-bottom: 20px;
  }
  label {
    margin-right: 5px;
  }
  .table-responsive {
    width: 100%;
  }
  .actions {
    white-space: nowrap;
  }
  .swabbed, .used {
    text-align: center;
    &.true {
      color: green;
    }
    &.false {
      color: red;
    }
  }
}
