.ink-collection {
  .filters {
    margin-bottom: 20px;
  }
  label {
    margin-right: 5px;
  }
  .table-responsive {
    width: 100%;
  }
  .actions {
    white-space: nowrap;
  }
  .swabbed {
    text-align: center;
    &.true {
      color: green;
    }
    &.false {
      color: red;
    }
  }
  .collected_ink_swabbed {
    text-align: center;
    label {
      margin: 0;
    }
  }
}
