@import "font-awesome";

@import "select2";

.select2-dropdown,
.select2-container--default .select2-selection--single,
.select2-container--default
  .select2-results__option[aria-selected="true"]:not(.select2-results__option--highlighted) {
  background-color: var(--bs-body-bg);
  border-color: var(--bs-border-color);
  color: var(--fpc-text-color);
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary-border-subtle);
  color: #fff;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: var(--fpc-text-color);
}
