/*
One Page V1.0
Copyright 2012, Vesper Creative
vespercreative.com
*/

/* Table of Content
--------------------------------------------------
    #Global Styles
    #Site Styles
	#Misc
    #Page Styles
        =Home
        =About
        =Services
        =Works
        =Blog
        =Contact
    #Media Queries
    #Font-Face
-------------------------------------------------- */


/* #Global Styles
-------------------------------------------------- */
body {
  background: #fff image-url("bg-body.png") fixed repeat;
  line-height: 22px;
	font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 { font-family: Droid Serif, Georgia, serif; font-weight: bold; }
a {
	-webkit-transition: background-color .2s linear, color .2s linear;
	-moz-transition: background-color .2s linear, color .2s linear;
	-o-transition: background-color .2s linear, color .2s linear;
	-ms-transition: background-color .2s linear, color .2s linear;
	transition: background-color .2s linear, color .2s linear;
}
i {
	margin-right: 2px;
	margin-top: 1px;
}
/* #Site Styles
-------------------------------------------------- */
#wrap {
    position: relative;
}
.page {
    padding-top: 80px;
	overflow: auto;
 }
[class*="span"] {
    width: auto;
    margin-left: 15px;
}
.span12 { width: 910px }
.span11 { width: 840px }
.span10 { width: 760px }
.span9 { width: 680px }
.span8 { width: 600px }
.span7 { width: 520px }
.span6 { width: 448px }
.span5 { width: 360px }
.span4 { width: 294px }
.span3 { width: 216px }
.span2 { width: 120px }
.span1 { width: 63px }

   .offset12 {
  margin-left: 980px;
}
.offset11 {
  margin-left: 900px;
}
.offset10 {
  margin-left: 820px;
}
.offset9 {
  margin-left: 740px;
}
.offset8 {
  margin-left: 660px;
}
.offset7 {
  margin-left: 580px;
}
.offset6 {
  margin-left: 500px;
}
.offset5 {
  margin-left: 420px;
}
.offset4 {
  margin-left: 340px;
}
.offset3 {
  margin-left: 260px;
}
.offset2 {
  margin-left: 180px;
}
.offset1 {
  margin-left: 100px;
}
.offset0 {
margin-left: 30px;
}

.btn {
	background-image: image-url("bg-btn.png") !important;
	background-repeat: repeat;
}

/* #Misc */
.left { float: left }
.right { float: right }
.center {
    display: block;
    margin: 0 auto;
}
.text-left { text-align: left }
.text-right { text-align: right }
.text-center { text-align: center }

/* #Page Styles
-------------------------------------------------- */

.page-title {
    width: 100%;
    font: 50px/1 Droid Serif, Georgia, serif;
    text-align: center;
    color: #363636;
    text-shadow: 1px 1px 0px #fff;
    padding-bottom: 15px;
}
.topnav {
	font-family: Droid Serif;
	font-size: 14px;
}
.topnav li a {
	padding: 14px !important;
}
.topnav li.active a {
	background: rgba(0,0,0,0.3) !important;
}
.topnav li ul li a {
	padding: 8px 14px !important;
}
.caret {
	border-top-color: white;
}
.page-subtitle {
    background: transparent url(bg-subtitle.png) repeat-x top;
    text-align: center;
    font: 20px/36px Droid Serif, Georgia, serif;
    line-height: 24px;
    padding: 10px 0 8px;
    color: #757575;
}
#wrap .container {
    background: transparent image-url("bg-page.png") repeat;
    border-radius: 10px;
    display: block;
    padding: 10px;
}
#wrap .row {
    background: #fff;
    border-radius: 5px;
    margin-left: 0;
    margin-right: 0;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    margin-bottom: 10px;

}
.content {
	padding: 15px;
}

.works .content {
	margin-bottom: 5px;
	padding-bottom: 0px !important;
}
    .content h2 {
        font: 20px/1 Droid Serif, Georgia, serif;
        padding: 10px 0;
    }

.brand {
	position: absolute;
	top: -8px;
}
.topnav  .social a{
	padding: 11px 10px 11px !important;
	opacity: 0.5;
	-webkit-transition: opacity .2s linear, color .2s linear;
	-moz-transition: opacity .2s linear, color .2s linear;
	-o-transition: opacity .2s linear, color .2s linear;
	-ms-transition: opacity .2s linear, color .2s linear;
	transition: opacity .2s linear, color .2s linear;
}
.social a:hover {
	opacity: 1;
}
/* =Home */
#slider {
    max-width: 940px;
    margin-top: 10px;
}
.slider-wrapper {
	width: 80%;
	margin: 20px auto;
}


/* =About */
.about-pic {
	margin-right: 10px;
	padding: 2px;
	border: 1px solid #ddd;
}
/* =Services */
.services-thumb {
	position: relative;
	overflow: hidden;
	height: 128px;
	width: 128px;
	text-align: center;
	margin: 0 auto;
	display: block;
}
.services-block {
	display: block;
	position: relative;
}
.services-thumb img {
	position: relative;
}
.thumb-hover {
	top: -128px;

	display: none;
}
/* =Works */
.works .container{
	/* overflow-y: hidden !important; */
	padding-bottom: 100px !important;
}
.thumbnails { margin-left: -10px }
    .thumbnails > li { margin-left: 14px }

.showcase{
	margin: 10px auto 30px auto;
	text-align: center;
}
.showcase ul {
	list-style: none;
}

.showcase label{
	font-family: Arial, sans-serif;
	width: auto;
	height: auto;
	cursor: pointer;
	color: #777;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	font-size: 14px;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );

}
.showcase label.portfolio-label-type-all{
	border-radius: 3px 0px 0px 3px;
}
.showcase label.portfolio-label-type-3{
	border-radius: 0px 3px 3px 0px;
}
.showcase input.portfolio-selector-type-all:checked ~ label.portfolio-label-type-all,
.showcase input.portfolio-selector-type-1:checked ~ label.portfolio-label-type-1,
.showcase input.portfolio-selector-type-2:checked ~ label.portfolio-label-type-2,
.showcase input.portfolio-selector-type-3:checked ~ label.portfolio-label-type-3{
	background: #646d93;
	background: -moz-linear-gradient(top, #646d93 0%, #7c87ad 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#646d93), color-stop(100%,#7c87ad));
	background: -webkit-linear-gradient(top, #646d93 0%,#7c87ad 100%);
	background: -o-linear-gradient(top, #646d93 0%,#7c87ad 100%);
	background: -ms-linear-gradient(top, #646d93 0%,#7c87ad 100%);
	background: linear-gradient(top, #646d93 0%,#7c87ad 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#646d93', endColorstr='#7c87ad',GradientType=0 );
	color: #424d71;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
	box-shadow: 0px 0px 0px 1px #40496e, 0 1px 2px rgba(0,0,0,0.1) inset;
}
.showcase input{
	display: none;
}
.item-wrap {

}
.portfolio-items{
	position: relative;
	margin: 0px auto;
	padding-top: 20px;
}
.portfolio-items a{
	display: block;
	position: relative;
	padding: 0px;
	background: #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	margin: 4px;
	width: 200px;
	height: 150px;
}
.portfolio-items a span{
	display: block;
	background: rgba(0,0,0, 0.5);
	font-style: italic;
	color: #fff;
	font-weight: bold;
	padding: 20px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 160px;
	height: 0px;
	overflow: hidden;
	opacity: 0;
	text-align: center;
	text-shadow: 1px 1px 1px #303857;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.portfolio-items a:hover span{
	height: 110px;
	opacity: 1;
}
.portfolio-items li img{
	display: block;
}

.portfolio-items li{
	float: left;
	height:165px;
	width: 0px;
	-webkit-transform: scale(0,0);
	-moz-transform: scale(0,0);
	-o-transform: scale(0,0);
	-ms-transform: scale(0,0);
	transform: scale(0,0);
}

.showcase input.portfolio-selector-type-all:checked ~ .item-wrap .portfolio-items li{
	width:200px;
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	-o-transform: scale(1,1);
	-ms-transform: scale(1,1);
	transform: scale(1,1);
	-webkit-transition: -webkit-transform 0.3s linear;
	-o-transition: -o-transform 0.3s linear;
	-ms-transition: -ms-transform 0.3s linear;
	transition: transform 0.3s linear;
	margin-left: 20px;
	margin-bottom: 10px;
}
.showcase input.portfolio-selector-type-1:checked ~ .item-wrap .portfolio-items .portfolio-item-type-1,
.showcase input.portfolio-selector-type-2:checked ~ .item-wrap .portfolio-items .portfolio-item-type-2,
.showcase input.portfolio-selector-type-3:checked ~ .item-wrap .portfolio-items .portfolio-item-type-3
{
	margin-left: 27px;
	margin-bottom: 10px;
	-webkit-transition: -webkit-transform 0.3s linear, width 0s linear 0.3s;
	-moz-transition: -moz-transform 0.3s linear, width 0s linear 0.3s;
	-o-transition: -o-transform 0.3s linear, width 0s linear 0.3s;
	-ms-transition: -ms-transform 0.3s linear, width 0s linear 0.3s;
	transition: transform 0.3s linear, width 0s linear 0.3s;
	-webkit-animation: scaleUp 0.3s linear 0.4s forwards;
	-moz-animation: scaleUp 0.3s linear 0.4s forwards;
	-o-animation: scaleUp 0.3s linear 0.4s forwards;
	-ms-animation: scaleUp 0.3s linear 0.4s forwards;
	animation: scaleUp 0.3s linear 0.4s forwards;
}
.showcase input.portfolio-selector-type-1:checked ~ .item-wrap .portfolio-items li:not(.portfolio-item-type-1),
.showcase input.portfolio-selector-type-2:checked ~ .item-wrap .portfolio-items li:not(.portfolio-item-type-2),
.showcase input.portfolio-selector-type-3:checked ~ .item-wrap .portfolio-items li:not(.portfolio-item-type-3)
{
	-webkit-animation: scaleDown 0.3s linear forwards;
	-moz-animation: scaleDown 0.3s linear forwards;
	-o-animation: scaleDown 0.3s linear forwards;
	-ms-animation: scaleDown 0.3s linear forwards;
	animation: scaleDown 0.3s linear forwards;
}
@-webkit-keyframes scaleUp {
	50% { width: 188px; -webkit-transform: scale(0,0); }
    100% { width: 188px; -webkit-transform: scale(1,1); }
}
@-webkit-keyframes scaleDown {
	0% { width: 188px;-webkit-transform: scale(1,1);}
	99% { width: 188px; -webkit-transform: scale(0,0);}
    100% { width: 0px; -webkit-transform: scale(0,0); }
}
@-moz-keyframes scaleUp {
	50% { width: 188px; -moz-transform: scale(0,0); }
    100% { width: 188px; -moz-transform: scale(1,1); }
}
@-moz-keyframes scaleDown {
	0% { width: 188px;-moz-transform: scale(1,1);}
	99% { width: 188px; -moz-transform: scale(0,0);}
    100% { width: 0px; -moz-transform: scale(0,0); }
}
@-o-keyframes scaleUp {
	50% { width: 188px; -o-transform: scale(0,0); }
    100% { width: 188px; -o-transform: scale(1,1); }
}
@-o-keyframes scaleDown {
	0% { width: 188px;-o-transform: scale(1,1);}
	99% { width: 188px; -o-transform: scale(0,0);}
    100% { width: 0px; -o-transform: scale(0,0); }
}
@-ms-keyframes scaleUp {
	50% { width: 188px; -ms-transform: scale(0,0); }
    100% { width: 188px; -ms-transform: scale(1,1); }
}
@-ms-keyframes scaleDown {
	0% { width: 188px;-ms-transform: scale(1,1);}
	99% { width: 188px; -ms-transform: scale(0,0);}
    100% { width: 0px; -ms-transform: scale(0,0); }
}
@keyframes scaleUp {
	50% { width: 188px; transform: scale(0,0); }
    100% { width: 188px; transform: scale(1,1); }
}
@keyframes scaleDown {
	0% { width: 188px; transform: scale(1,1);}
	99% { width: 188px; transform: scale(0,0);}
    100% { width: 0px; transform: scale(0,0); }
}

/* =Blog */
.blog-thumb {
	padding-bottom: 10px;
}

/* =Contact */
#ajax-contact-form label {
	width: 70px;
	text-align: left;
}
#ajax-contact-form .controls {
	margin-left: 80px;
}
.contact-map {
    overflow: hidden;
}
.map { width: 100%; height:240px; }
.right-offset {
margin-right: 20px;
}

/* #Media Queries
-------------------------------------------------- */
/* Smaller than standard 960 (devices and browsers) */
@media (max-width: 959px) {

}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media (min-width: 768px) and (max-width: 979px) {
    .row {
        margin-left: 0px;
        *zoom: 1;
    }
    .row:before,
    .row:after {
        display: table;
        content: "";
    }
    .row:after { clear: both }
    [class*="span"] {
        float: left;
        margin-left: 10px;
    }
	.navbar-fixed-top .navbar-inner { background: #222 url(bg-header2.png) repeat !important; height: auto; filter:none !important;}
    .container,
    .navbar-fixed-top .container,
    .navbar-fixed-bottom .container { width: 724px }
    .span12 { width: 724px }
    .span11 { width: 662px }
    .span10 { width: 600px }
    .span9 { width: 538px }
    .span8 { width: 476px }
    .span7 { width: 414px }
    .span6 { width: 347px }
    .span5 { width: 290px }
    .span4 { width: 228px }
    .span3 { width: 168px }
    .span2 { width: 104px }
    .span1 { width: 42px }
    .thumbnails { margin-left: -9px }
        .thumbnails > li { margin-left: 10px }
	.topnav li a {
		padding: 8px !important;
	}
	.topnav  .social a{
		padding: 8px 10px !important;
	}
	#wrap .container {
		padding-bottom: 100px !important;
	}
}
/* All Mobile Sizes (devices and browser) */
@media (max-width: 767px) {
    [class*="span"] {
        width: auto;
        margin-left: 0px;
        padding: 10px;
    }
	.topnav li a {
		padding: 8px !important;
	}
	.topnav  .social a{
		padding: 8px 10px !important;
	}
	.navbar-fixed-top .navbar-inner { background: #222 url(bg-header2.png) repeat !important; height: auto; filter:none !important;}
	#wrap .container {
		padding-bottom: 100px !important;
	}
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */



	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media (max-width: 480px) {
		[class*="span"] {
	width: auto;
	margin-left: 0px;
	}
	.navbar-fixed-top .navbar-inner { background: #222 url(bg-header2.png) repeat !important; height: auto; filter:none !important;}
	#wrap .container {
		padding-bottom: 100px !important;
	}
	}

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
