td class="form"= ci.private? ? fa_icon("lock") : fa_icon("unlock")
td class="form"= f.input :brand_name, label: false
td class="form"= f.input :line_name, label: false
td class="form"= f.input :ink_name, label: false
td class="form"= f.input :kind, label: false, as: :select, collection: CollectedInk::KINDS
td class="form"= f.input :color, as: :hidden
td class="form"= f.input :swabbed
td class="form"= f.input :used
td class="form"= f.input :comment
td class="form actions"
  = f.button :button do
    = fa_icon("check")
  = link_to collected_inks_path, class: "btn btn-default" do
    = fa_icon("close")
