<p>Welcome <%= @email %>!</p>

<p>You can confirm your account for <strong>fountainpencompanion.com</strong> through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Have fun!</p>

<p><b>If you have not created this account yourself, there is nothing to do. You data will be automatically deleted!</b></p>
