<p style="margin: 0 0 16px;">Welcome <%= @email %>!</p>

<p style="margin: 0 0 16px;">You can confirm your account for <strong>fountainpencompanion.com</strong> using the button below:</p>

<%= render "layouts/mailer_button", url: confirmation_url(@resource, confirmation_token: @token), text: "Confirm my account" %>

<p style="margin: 0 0 16px;">Have fun!</p>

<p style="margin: 0 0 16px; color: #666666; font-size: 14px;"><strong>If you have not created this account yourself, there is nothing to do. Your data will be automatically deleted!</strong></p>

<p style="margin: 0;">Thanks,<br />The Fountain Pen Capybara</p>
