<p style="margin: 0 0 16px;">Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p style="margin: 0 0 16px;">We're contacting you to notify you that your email is being changed to <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p style="margin: 0 0 16px;">We're contacting you to notify you that your email has been changed to <%= @resource.email %>.</p>
<% end %>

<p style="margin: 0;">Thanks,<br />The Fountain Pen Capybara</p>
