<p style="margin: 0 0 16px;">Hello <%= @resource.email %>!</p>

<p style="margin: 0 0 16px;">You can log in using the button below:</p>

<%= render "layouts/mailer_button", url: magic_link_url(@resource, @scope_name => {email: @resource.email, token: @token, remember_me: @remember_me}), text: "Log in to my account" %>

<p style="margin: 0 0 16px; color: #666666; font-size: 14px;">Note that the link will expire in <%= Devise.passwordless_login_within.inspect %>.</p>

<p style="margin: 0;">Thanks,<br />The Fountain Pen Capybara</p>
