<p>Hello <%= @resource.name.presence || @resource.email %>!</p>

<p>
  Either you or someone else has requested to change the password for your account
  on Fountain Pen Companion. If it was you, please use the link below to set a new password:
</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request a change to your password, please ignore this email.</p>

<p>Thanks,</p>
<p>The Fountain Pen Capybara</p>

<hr />
<p>
  <%= link_to 'Fountain Pen Companion', 'https://fountainpencompanion.com' %>
</p>

<p>
  <img src="https://fountainpencompanion.com/images/capybara/capybara_square,w_200.png" alt="Fountain Pen Capybara" width="200" />
</p>
