name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  rspec:
    env:
      RAILS_ENV: test
      PGUSER: test
      PGHOST: localhost
      PGPORT: 5432
      DATABASE_URL: postgres://test@localhost/fountainpencompanion_test

    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: test
          POSTGRES_DB: fountainpencompanion_test
          POSTGRES_HOST_AUTH_METHOD: trust
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v4.2.2
      - name: Install correct Node version
        uses: actions/setup-node@v4.1.0
        with:
          node-version: "v20.18.0"
          cache: yarn
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: Install JS dependencies
        run: yarn install
      - name: Run tests
        run: bundle exec rake
      - name: Report to CodeCov
        uses: codecov/codecov-action@v4
        with:
          flags: ruby
          token: ${{ secrets.CODECOV_TOKEN }}
  jest:
    runs-on: ubuntu-latest
    env:
      PRETTIER_RUBY_TIMEOUT_MS: 50000
    steps:
      - uses: actions/checkout@v4.2.2
      - name: Install correct Node version
        uses: actions/setup-node@v4.1.0
        with:
          node-version: "v20.18.0"
          cache: yarn
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: Install JS dependencies
        run: yarn install
      - name: Run lint
        run: yarn lint
      - name: Run tests
        run: yarn jest
      - name: Report to CodeCov
        uses: codecov/codecov-action@v4
        with:
          flags: javascript
          token: ${{ secrets.CODECOV_TOKEN }}
